<div>
  <h1>Nog heel even geduld...</h1>
  <p>
    Als we dichterbij het toernooi zijn zal je op deze site de live standen en
    uitslagen kunnen volgen.
  </p>
  <h6>Tip</h6>
  <p>
    De app is straks het best te bekijken op een mobiel apparaat. Je kan de
    website daarbij ook als 'app' op je beginscherm zetten:
  </p>
  <ul>
    <li>
      <a
        href="https://support.apple.com/nl-nl/guide/iphone/iph42ab2f3a7/ios"
        target="_blank"
        >Safari (Apple)</a
      >, onder het kopje 'Een websitesymbool in het beginscherm zetten'
    </li>
    <li>
      <a
        href="https://support.google.com/chrome/answer/15085120?hl=nl&co=GENIE.Platform%3DiOS&oco=0"
        target="_blank"
        >Chrome (Apple)</a
      >
    </li>
    <li>
      <a
        href="https://support.google.com/chrome/answer/15085120?hl=nl&co=GENIE.Platform%3DAndroid&oco=0"
        target="_blank"
        >Chrome (Android)</a
      >
    </li>
  </ul>
</div>
