<ng-container>
  <div class="d-flex flex-nowrap overflow-scroll mb-1">
    @for (playingRound of playingRoundIds(); track $index) {
      <a (click)="activePlayingRound.set(playingRound)"
        ><span
          class="badge rounded-pill text-bg-{{
            activePlayingRound() === playingRound ? 'primary' : 'secondary'
          }} p-2 me-1"
          id="playing-round-{{ playingRound }}"
          >Ronde {{ playingRound }}</span
        ></a
      >
    }
  </div>

  @let showScore = showScoreColumn();
  <table class="table table-sm mt-1">
    <thead>
      <tr>
        <th>Veld</th>
        <th>Team 1</th>
        @if (showScore) {
          <th></th>
        }
        <th>Team 2</th>
        <th>Tijd</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (game of selectedGames(); track game.id) {
        <tr>
          <td>{{ game.field }}</td>
          <td>{{ game.team1.player_1 }} & {{ game.team1.player_2 }}</td>
          @if (showScore) {
            <td class="text-nowrap">{{ game.score_1 }}-{{ game.score_2 }}</td>
          }
          <td>{{ game.team2.player_1 }} & {{ game.team2.player_2 }}</td>
          <td>{{ game.start_date | date: "HH:mm" }}</td>
        </tr>
      }
    </tbody>
  </table>
</ng-container>
