<ng-container>
  <div class="my-2">
    <h1>Nieuws</h1>
    <ngb-carousel class="carousel-dark" [showNavigationIndicators]="false">
      @for(newsItem of news$ | async; track newsItem.id) {
      <ng-template ngbSlide>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{newsItem.title.rendered}}</h5>
            <p class="card-text" [innerHTML]="newsItem.excerpt.rendered"></p>
            <a
              class="btn btn-primary"
              href="{{ newsItem.link }}"
              target="_blank"
              >Lees volledige post</a
            >
          </div>
        </div>
      </ng-template>

      } @empty {
      <ng-template ngbSlide>
        <div class="card" aria-hidden="true">
          <div class="card-body">
            <h5 class="card-title placeholder-glow">
              <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
              <span class="placeholder col-7"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-4"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-8"></span>
              <span class="placeholder col-6"></span>
              <span class="placeholder col-3"></span>
            </p>
            <a
              class="btn btn-primary disabled placeholder col-6"
              aria-disabled="true"
            ></a>
          </div>
        </div>
      </ng-template>
      }
    </ngb-carousel>
  </div>

  <div class="mt-3">
    <h1>Mijn toernooi</h1>

    @let myPoule = latestMyPoule$ | async; @let myGames = myGames$ | async; @if
    (myPoule && myGames) {
    <app-poule
      [poule]="myPoule"
      [highlight]="true"
      [showField]="false"
    ></app-poule>
    <app-game-list [games]="myGames"></app-game-list>
    } @else if (myPoule === undefined && myGames === undefined) {
    <p>
      Selecteer jouw team om hier de stand in jouw poule en je
      wedstrijdprogramma te zien.
    </p>
    } @else {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Aan het laden...</span>
      </div>
    </div>
    }
  </div>

  <div class="my-2">
    <label for="team" class="h5 form-label">Mijn team</label>
    <select
      id="team"
      [formControl]="teamControl"
      (change)="onTeamChange()"
      class="form-select"
    >
      <option [ngValue]="null">Geen team</option>
      @for (team of teams$ | async; track team.id) {
      <option [ngValue]="team.id">
        {{ team.team_number }}. {{ team.player_1 }} & {{ team.player_2 }}
      </option>
      }
    </select>
  </div>
</ng-container>
