<div class="d-flex flex-column h-100">
  <div class="flex-grow-1 px-3 pt-3">
    <ngb-carousel
      #infoCarousel
      [interval]="0"
      [showNavigationArrows]="false"
      [showNavigationIndicators]="false"
      (slid)="onInfoSlid($event)"
    >
      @for (slide of slides; track $index) {
      <ng-template ngbSlide id="info-slide-{{$index}}">
        <h1>{{ slide.roundName }}</h1>
        @if (!slide.isKo) {
        <div class="row">
          @for (poule of slide.poules; track $index) {
          <div class="col-6">
            <app-poule [poule]="poule"></app-poule>
          </div>
          }
        </div>
        } @else {
          <div>
            @if (!slide.multiple) {
              <app-game-list [games]="slide.games"></app-game-list>
            } @else {
              <app-game-list [games]="slide.games[0]"></app-game-list>
              <br />
              <h1>{{ slide.secondRoundName }}</h1>
              <app-game-list [games]="slide.games[1]"></app-game-list>
            }
          </div>
        }
      </ng-template>
      }
    </ngb-carousel>
  </div>


  <div>
    <ngb-carousel
      #sponsorCarousel
      [interval]="0"
      [showNavigationArrows]="false"
      [showNavigationIndicators]="false"
    >
      @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
      <ng-template ngbSlide id="sponsor-slide-{{i}}">
        <img
          src="sponsoren-{{i}}.png"
          alt="sponsoren-{{i}}"
          class="w-100 h-100"
          style="object-fit: contain"
        />
      </ng-template>
      }
    </ngb-carousel>
  </div>
</div>
