<ng-container>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 overflow-auto me-2">
      <app-round-selector [activeRound]="activeRound"></app-round-selector>
    </div>
    <!-- <a (click)="openFilterModal()"
      ><fa-icon
        class="text-primary flex-shrink-0"
        size="xl"
        [icon]="faFilter"
      ></fa-icon
    ></a> -->
  </div>

  @if (games$ | async; as games) {
  <div>
    <app-game-overview
      [gameSeries]="games"
      [koRoundNaming]="!!activeRound()?.isKo"
    ></app-game-overview>
  </div>
  }
  @else {
    <table class="table table-sm mt-1">
      <thead>
        <tr>
          <th>Veld</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Tijd</th>
        </tr>
      </thead>
      <tbody class="table-group-divider placeholder-glow">
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <tr>
            <td><span class="placeholder col-3"></span></td>
            <td><span class="placeholder col-10"></span></td>
            <td><span class="placeholder col-10"></span></td>
            <td><span class="placeholder col-6"></span></td>
          </tr>
        }
      </tbody>
    </table>
  }
</ng-container>
