<ng-container>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1 overflow-auto me-2">
      <app-round-selector></app-round-selector>
    </div>
    <!-- <a (click)="openFilterModal()"
      ><fa-icon
        class="text-primary flex-shrink-0"
        size="xl"
        [icon]="faFilter"
      ></fa-icon
    ></a> -->
  </div>

  @if (games$ | async; as games) {
  <div>
    <app-game-overview
      [gameSeries]="games"
      [koRoundNaming]="!!activeRound()?.isKo"
    ></app-game-overview>
  </div>
  }
</ng-container>
